* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-top: 20px;
  margin-bottom: 60px;
}

#users {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.oneUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: 3px solid lightgray;
}

img {
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.showDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}